*, *:after, *:before
	box-sizing: border-box

=clearfix()
	&:before, &:after
		display: table
		content: " "
	&:after
		clear: both

html
	font-family: Lato, Arial, sans-serif
	font-weight: 100
	font-size: 14px
	line-height: 23px
	vertical-align: baseline
	font-smoothing: antialiased
	text-size-adjust: 100%

body
	margin: 0
	overflow: hidden
	user-select: none

label, button, input, select, textarea
	font-family: inherit
	font-weight: inherit
	font-size: inherit
	color: inherit

input, select, textarea
	border: 1px solid #bbb
	resize: none

canvas
	display: block
	width: 100%
	height: 100%
	cursor: pointer

debug, fork, settings
	display: block
	position: fixed
	color: #fafafa
	text-shadow: 1px 1px #1a1a1a
	z-index: 1

debug
	top: 50px
	right: 5px
	text-align: right

fork
	top: 0
	left: 0
	a
		display: block
		width: 80px
		height: 80px
		cursor: pointer
		&:hover .octo-arm
			animation: octocat-wave 560ms ease-in-out
	svg
		fill: #000
		color: #fff
		border: 0
		transform: scale(-1, 1)
		pointer-events: none

@keyframes octocat-wave
	0%,100%
		transform: rotate(0)
	20%,60%
		transform: rotate(-25deg)
	40%,80%
		transform: rotate(10deg)

settings
	bottom: 10px
	right: 10px
	padding: 5px
	border-radius: 4px
	background: rgba(0, 0, 0, .25)
	label
		display: block
		width: 120px
		white-space: nowrap
		input[type="checkbox"]
			border: 0
			margin-right: 10px
	a.button
		display: block
		color: inherit
		cursor: pointer
		text-decoration: none
		background: #448844
		border-radius: 4px
		text-align: center
		margin-top: 3px
		&.dark
			background: #1a1a1a
		&.first
			margin-top: 6px

overlay
	display: block
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(0, 0, 0, 0)
	transition: background 0.15s ease-out
	overflow-y: auto
	&.open
		background: rgba(0, 0, 0, .3)

dialog
	display: block
	border: 4px solid #1a1a1a
	width: 440px
	margin: 30px auto
	background: #fafafa
	padding: 10px
	border-radius: 4px
	font-size: 18px
	line-height: 29px
	opacity: 0
	transform: translate(0, -50%)
	transition: transform 0.15s ease-out, opacity 0.15s ease-out
	overlay.open &
		opacity: 1
		transform: translate(0, 0)
	header
		text-align: center
		font-size: 32px
		line-height: 52px
		border-bottom: 1px solid #a1a1a1
		margin-bottom: 10px
	button[type="submit"]
		display: block
		margin: 20px auto 10px
		min-width: 150px
		padding: 2px 12px 3px
		text-align: center
		font-size: 18px
		line-height: 29px
		background: #448844
		color: #fafafa
		border: 1px solid #1a1a1a
		box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px
		cursor: pointer
	&.controls
		width: 880px
		label
			float: right
			font-size: 28px
			line-height: 45px
		key
			display: inline-block
			border: 1px solid #1a1a1a
			border-radius: 10px
			width: 50px
			height: 50px
			padding: 10px 0
			text-align: center
			margin-right: 5px
			background: linear-gradient(to bottom, #666 0%, #1a1a1a 100%)
			color: #fafafa
		row
			display: block
			padding: 0 10px 10px
			+clearfix()
		col
			display: block
			float: left
			width: 50%
			padding-top: 10px
			padding-left: 7.5px
			&.left
				padding-right: 7.5px
				padding-left: 0
				text-align: right
				label
					float: left
	&.askForChrome
		p
			text-align: center
